body {
  font-family: "Montserrat";
}
h1,
h2,
h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}
/* h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}
h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
} */
p {
  font-family: "Montserrat";
  font-weight: 400;
  color: #8f8f8f;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: #ffffff;
}
.white-section {
  background-color: #ffffff;
}
/* Heading */
.big-heading {
  font-size: 3.5rem;
}
.feature-heading {
  font-size: 1.5rem;
}
.price-heading {
  font-size: 1.5rem;
}
#title {
  padding-bottom: 50px;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navbar Brand */

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bolder;
  line-height: 2.5rem;
  font-size: 40px;
}
.navbar {
  padding-bottom: 4.5rem;
}
.nav-item {
  padding: 0 15px;
}
.nav-link {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.2rem;
}

/* Download Button */
.download-button {
  margin: 5% 3% 5% 0%;
}

/* Title-Image */
.title-image {
  width: 25%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Feature Box */
#features {
  padding: 7% 14%;
  position: relative;
}
.feature-box {
  text-align: center;
  padding: 5%;
}
.icon {
  margin-bottom: 1rem;
  color: #ef8172;
}
.icon:hover {
  color: #ff4c68;
}

/* Testimonial */
#testimonials {
  text-align: center;
  background-color: #ef8172;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 14%;
}
/* Press Section */
#press {
  text-align: center;
  padding-bottom: 3%;
  background-color: #ef8172;
}
.press-logo {
  width: 15%;
  margin: 20px 30px 50px;
}
/* Pricing */
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 3%;
  text-align: center;
}
/* Call TO Action */
#cta {
  padding: 7% 15%;
  text-align: center;
}
.cta-heading {
  font-family: "Montserrat";
  font-weight: bolder;
  line-height: 1.5;
  font-size: 3.5rem;
}
/* Footer Section */
#footer {
  text-align: center;
  padding: 5% 15%;
}
.social-icon {
  padding: 20px 10px;
}
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
